body {
  min-width: 768px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

.img {
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button:hover {
  background-color: #604e43;
}

.button:active {
  color: #818181;

  background-color: #503e33;
}

.wrapper-main-page {
  background-image: url("../img/background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/*-- Навигация --*/
.site-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: #81b3d2;
}

.navigation-list a:active {
  opacity: 0.3;
}

/*--Навигация на внутренней странице--*/
.navigation-list .navigation-list-current {
  color: #766357;
}

.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.reason-title {
  text-align: center;
}

.reason-list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.reason-item {
  min-width: 256px;
}

.reason-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.reason-item-wide {
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-item-wide h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.advantage-list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantage-icon-1 {
  background-image: url("../img/icon-1.svg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 56px;
}

.advantage-icon-2 {
  background-image: url("../img/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 56px;
}

.advantage-icon-3 {
  background-image: url("../img/icon-3.svg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 56px;
}

.reason-item-grey {
  background-color: #eeeeee;
}

.reason-item-grey h3 {
  background-color: #eeeeee;
}

.desire {
  text-align: center;
}

.desire b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #766357;
}

.search-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar-icon {
  position: absolute;
  right: 55px;
  padding-top: 5px;
  background-color: transparent;
  /*background-image: url("../img/calendar.svg");
  background-position: center right;
  background-repeat: no-repeat;*/
  fill: #cacaca;
  
}

.calendar-icon:hover {
  background-color: transparent;
  fill: #000000;
}

.calendar-icon:active {
  background-color: transparent;
  fill: #81b3d2;
}

.less-button {
  position: absolute;
  right: 45px;
  padding-top: 1px;
  padding-left: 13px;
  padding-bottom: 5px;
  padding-right: 13px;
}

.less-button-2 {
  position: absolute;
  right: 80px;
  padding-top: 1px;
  padding-left: 13px;
  padding-bottom: 5px;
  padding-right: 13px;
}

.more-button {
  position: absolute;
  bottom: 30px;
  left: 44px;
  padding-top: 3px;
  padding-left: 13px;
  padding-bottom: 3px;
  padding-right: 13px;
}

.more-button-2 {
  position: absolute;
  bottom: 30px;
  left: 192px;
  padding-top: 3px;
  padding-left: 13px;
  padding-bottom: 3px;
  padding-right: 13px;
}

.less-button,
.more-button {
  color: #818181;

  background-color: #f2f2f2;
}

.less-button:hover,
.more-button:hover {
  color: #000000;

  background-color: #f2f2f2;
}

.less-button:active,
.more-button:active {
  color: #81b3d2;

  background-color: #f2f2f2;
}

.find-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #81b3d2;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  color: #818181;

  background-color: #5496bd;
}

.search-button {
  padding-top: 32px;
  padding-left: 138px;
  padding-right: 139px;
  padding-bottom: 32px;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  70% {
    transform: translateY(0.5px);
  }

  90% {
    transform: translateY(-0.5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position:absolute;
  color: #000000;
  background-color: #ffffff;
  z-index: 3;
  }

.modal-search-form {
  top: 1469px;
  left: 26.3%;
  min-height: 395px;
  padding-left: 54px;
  padding-right: 55px;
  animation: bounce 0.6s;
}

.modal-search-form-show {
  display: none;
}

.modal-error {
  animation: shake 0.6s;
}

.map-block img {
  position: absolute;
  bottom: 7px;
  z-index: 1;
  margin: 0;
}

.map-block iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.search-item {
  display: flex;
  margin: 0;
  padding: 0;
  width: 459px;
  justify-content:space-around;
}

.arrival-date {
  padding-top: 55px;
  display: flex;
}

.arrival-date label {
  width: 130px;
  padding-right: 19px
}

.arrival-date input {
  width: 430px;
}

.departure-date {
  padding-top: 29px;
  display: flex;
}

.departure-date label {
  width: 130px;
  padding-right: 19px;
}

.departure-date input {
  width: 430px;
}

.modal-grid {
  padding-left: 0;
  margin-left: 0;
  display: flex;
}

.aduls {
  padding-top: 30px;
  width: 50%;
  display: flex;
  position: relative;
  right: 29px;
}

.aduls label {
  margin: 0;
  padding: 0;
}

.aduls-count {
  margin: 0;
  padding: 0;
  position: relative;
  left: 10px;
}

.aduls-count input {
  width: 40px;
  text-align: center;
}

.kids {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  display: flex;
  position: relative;
  left: 5px;
}

.kids label {
  
}

.kids-count {
  /*width: 120px;*/
}

.kids-count input {
  width: 40px;
  text-align: center;
}

.find-button {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 17px;
}

/*--Каталог - внутренняя страница--*/
.wrapper-inner-page {
  background-color: #ffffff;

}

.filters {
  color: #ffffff;

  background-color: #457aa6;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter fieldset {
  border: none;
  margin-left: 75px;
  margin-top: 31px;
}

.filter-input-checkbox {
  position: relative;
  cursor: pointer;
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  color: #ffffff;
}

.filter-input-checkbox[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 13;
  left: 97px;

  width: 17px;
  height: 17px;

  border: 2px solid #ffffff;
}

.filter-input-checkbox-2[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 13;
  left: 330px;

  width: 17px;
  height: 17px;

  border: 2px solid #ffffff;
}

.filter-input-checkbox[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #ffffff;
  outline: thin dotted;
  outline: 5px auto;
}
    
.filter-input-checkbox-2[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #ffffff;
  outline: thin dotted;
  outline: 5px auto;
}

.filter-input-checkbox[type="checkbox"]:checked + .checkbox-indicator::before {
   content: '\2713';
    display: inline-block;
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    top: -9px;
    transform: scale(0);
    transition: 0.3s;
}

.filter-input-checkbox[type="checkbox"]:checked + .checkbox-indicator::before {transform: scale(1);}

.filter-input-checkbox[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #ffffff;
  outline: thin dotted;
  outline: 5px auto;
}
    
.filter-input-checkbox-2[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #ffffff;
  outline: thin dotted;
  outline: 5px auto;
}

.filter-input-checkbox-2[type="checkbox"]:checked + .checkbox-indicator::before {
   content: '\2713';
    display: inline-block;
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
  position: absolute;
  top: -9px;
    transform: scale(0);
    transition: 0.3s;
}

.filter-input-checkbox-2[type="checkbox"]:checked + .checkbox-indicator::before {transform: scale(1);}


.filter-value{
  position: absolute;
  left: 70%;
}


.filter-range {
  position:absolute;
  top: 1px;
  right: 100px;
  
  width: 330px;
  margin:  0; 
  padding: 0;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

-------------------
.filter-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.filter-controls .min-price,
.filter-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.filter-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filter-section label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.filter ul {
  list-style: none;
  text-align: left;
}

.filter li{
  padding-bottom: 20px;
}

.filter-item input {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-item input::placeholder {
  color: #ffffff;
}

.filter-button {
  position: absolute;
  top: 165px;
  left: 81%;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.sorting {
  min-height: 69px;
  display: flex;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 106px;
  margin-right: 106px;
}

.sorting fieldset {
  border: none;
  margin-top: 38px;
  margin-left: 45px;
}

.sorting-info {
  display: inline-block;
  margin-top: 35px;
}

.sorting-title
{
  display: inline-block;
  margin-top: 35px;
}

.sorting-list {
  display: flex;
  position: absolute;
  top: 27px;
  left: 24%
}

.sorting ul {
  list-style: none;
}

.sorting-info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting a {
  color: #818181;
  border-bottom: 1px dotted #81b3d2;
  margin-left: 32px;
}

.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

.sorting .sorting-marker-current {
  color: #81b3d2;
  border: none;
}

.arrows {
  position: absolute;
  right: -5%;
  margin: 0;
  padding: 0;
}

.arrows a {
  margin-left: 13px;
  border: none;
}

.arrow-up {
  border: none;
}

.arrow-down {
  border: none;
}

.arrow-up path {
  fill:#818181;
}

.arrow-up path:hover {
  fill: #231f20;
}

.arrow-down path {
  fill: #818181;
}

.arrow-down path:active {
  fill: #81b3d2;
}

.sorting-marker-down path:hover {
  fill: #231f20;
  border: none;
}

arrow-down path:active {
  fill: #81b3d2;
}

.arrow-current path {
  fill: #81b3d2;
  border: none;
}

.catalog {
  display: flex;
  position: relative
}

.catalog-list {
  list-style: none;
  padding-left: 101px;
  padding-right: 101px;
}

.catalog-item-title h3 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-title h3:hover {
  color: #81b3d2;
}

.catalog-item-title h3:active {
  color: #818181;
}

.catalog-category,
.catalog-price {
  font-weight: 400;
}

.catalog-rating {
  font-weight: 400;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 7px;
  padding-bottom: 7px;

  background-color: #f2f2f2;
}

.moreinfo-button {
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.moreinfo-button:hover {
  background-color: #669ec0;
}

.moreinfo-button:active {
  color: #818181;

  background-color: #5496bd;
}

.booking-button {
  margin-left: 7px;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  background-color: #766357;
}

.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  color: #818181;

  background-color: #503e33;
}

.main-footer {
  text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  position: absolute;
  top:29px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-button svg {
  color: #ffffff;

  background-color: #81b3d2;
  fill: #ffffff;
  
  margin: 6px;
}

.social-button:hover svg {
  background-color: #669ec0;
}

.social-button:active svg {
  color: #818181;

  background-color: #5496bd;
  fill: #818181;
}

.social-button-1 svg {
  padding-top: 17px;
  padding-left: 15px;
  padding-bottom: 16px;
  padding-right: 14px;
  background-color: none;
}

.social-button-2 svg {
  padding-top: 13px;
  padding-left: 18px;
  padding-bottom: 13px;
  padding-right: 17px;
}

.social-button-3 svg {
  padding-top: 16px;
  padding-left: 13px;
  padding-bottom: 16px;
  padding-right: 13px;
}

/*
.twitter-button {
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.facebook-button {
  background-image: url("../img/facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.youtube-button {
  background-image: url("../img/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}
*/

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  position: relative;
  justify-content: center;
  top: 20px;
}


.copyright-button svg {
  fill: #231f20;
  position: absolute;
  top: 29px;
  left: 61%;
  
}

.copyright-button svg:hover {
  fill: #81b3d2;
}

.copyright-button svg:active {
  fill: #bdbbbc;
}

/*---Сеточные стили---*/

.main-header {
  position: relative;
  width: 1200px;
  min-height: 56px;
  margin: 0 auto;
}

.wrapper-main-page .site-navigation {
  display: flex;
  
  height: 56px;
  /*---отступ для фоновой картинки---*/
  margin-bottom: 570px;
}

.wrapper-inner-page .site-navigation {
  display: flex;

  height: 56px;
  /*---отступ для фоновой картинки---*/
  margin-bottom: 0px;
}

.main-header-logo {
  position: absolute;
  left: 46%;
  z-index: 20;
  width: 140px;
  height: 72px;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 56px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-title {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.reason-title {
  width: 576px;
  margin-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
}

.reason-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reason-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*border: 1px dashed red;*/
}

.reason-item-wide {
  width: 400px;
  height: 256px;
}

.reason-img {
  height: 256px;
}

.reason-promo {
  margin: 0 auto;
  width: 304px;
  word-break: break-all;
}

.advantage-list {
  display: flex;
  flex-direction: row;
}

.advantage-item {
  width: 400px;
  height: 256px;
  position: relative;
  top: 10px;
}

.reason-form-1 {
  position: absolute;
  bottom: 136px;
  left: 42%
}

.reason-forms-1 {
  position: absolute;
  bottom: 71px;
  left: 14%
}

.reason-form-2 {
  position: absolute;
  bottom: 136px;
  left: 45%
}

.reason-forms-2 {
  position: absolute;
  bottom: 71px;
  left: 12%
}

.reason-form-3 {
  position: absolute;
  bottom: 136px;
  left: 38%
}

.reason-forms-3 {
  position: absolute;
  bottom: 71px;
  left: 13%
}


.reason-item-grey {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 256px;
}

.filter {
  display: flex;
  flex-direction: row;
  min-height: 215px;
}

.sorting {
  display: flex;
  flex-direction: row;
}

.catalog-list {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.catalog-category {
  margin-left: 30px;
}

.catalog-price {
  margin-left: 37px;
}

.catalog h3 {
  margin-left: 30px;
}

.container-button {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 60px;
}

.catalog-star svg{
  margin: 2px;
  margin-bottom: 49px;
  float: right;
}
.container-rating-1 {
  position: absolute;
  right: 50px;
  top: 67px;
  image-orientation: right;
}

.container-rating-2 {
  position: absolute;
  right: 50px;
  top: 205px;
  image-orientation: right;
}

.container-rating-3 {
  position: absolute;
  right: 50px;
  top: 339px;
  image-orientation: right;
}

.main-footer {
  display: flex;
  flex-direction: row;
  position: relative;
}
